*.xml
*.pyc
venv
Shell_FE_Behave_Tests/TestResults/Logs/*
Shell_FE_Behave_Tests/TestResults/Screenshots/*
Shell_FE_Behave_Tests/TestResults/Reports/*
Shell_FE_Behave_Tests/TestResults/AllureJson/*
Shell_FE_Behave_Tests/TestResults/Junitreports/*
Shell_FE_Behave_Tests/TestData/AzureCredentials/AzureCredentials.json